[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	ignore = dirty
[submodule "ext/glTF-Sample-Models"]
	path = ext/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models
	ignore = dirty
[submodule "ext/rapidjson"]
	path = ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	ignore = dirty
